@import-normalize;

body {
  background-color: var(--dark);
  margin: 0;
  font-family: var(--font-family-sans-serif);
  color: var(--text);
  fill: var(--fill);
}

a {
  text-decoration: none;
  color: unset;
}
